# Syntaxe : <pattern de fichier>  <@utilisateur ou @org/équipe>

# Par défaut : tout changement requiert une review de ces personnes
*                          @<benslimane-byte>

# Les workflows CI/CD ne peuvent être modifiés que par le lead DevOps
.github/workflows/         @<benslimane-byte>

# Le fichier de dépendances requiert une validation technique
ressources/requirements.txt  @<benslimane-byte>

# Les fichiers de sécurité requièrent une double validation
.github/dependabot.yml     @<benslimane-byte>
.github/CODEOWNERS         @<benslimane-byte>
