# Tout changement requiert une approbation de votre binôme
*                          @benslimane-byte  @bambstk

# Les workflows ne peuvent être modifiés qu'avec validation des deux
.github/workflows/         @benslimane-byte  @bambstk

# Le code applicatif
ressources/                @benslimane-byte  @bambstk
